# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/

# PyCharm
.idea/

# Test/cache
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

#SQL
*.db
*.sqlite
*.sqlite3